{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/jquery-ui.css" />
{% endblock %}

{% block title %}Blog Django | Edit Post{% endblock %}

{% block header_text %}Edit Post{% endblock %}

{% block content %}
  <div class="row">
      <div class="col-md-12">
        <div class="card animated materialU animation-delay-5">
          <div class="card-block card-block-big">
            <form action="{% url 'posts:update' form.instance.id %}" method="post" enctype='multipart/form-data'>
              {{ form }}
              <input type="submit" name="save changes" value="Save Changes" class="btn btn-success">
              {% csrf_token %}
            </form>
          </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery-ui.js"></script>
<script>
$("#id_publication_date").change(function(){
  time_of_publication_date = $( "#id_publication_date" ).datepicker("getDate").getTime();
  $( "#id_expiring_date" ).datepicker( "option", "minDate", new Date(time_of_publication_date) );
} );

$(document).ready( function() {

  var publication_date = $("#id_publication_date").val()
  $( "#id_publication_date" ).datepicker();
  $( "#id_publication_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "#id_publication_date" ).val(publication_date)

  var expiration_date = $( "#id_expiring_date" ).val()
  $( "#id_expiring_date" ).datepicker();
  $( "#id_expiring_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "#id_expiring_date" ).val(expiration_date)
} );
</script>

{% endblock %}
